{%  load staticfiles %}
<head>
    <meta charset="UTF-8">

    <!-- 반응형 웹 사이트 가로폭 조정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheets -->
{#    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />#}
{#    <link rel="stylesheet" href="{% static 'css/default.css' %}" type="text/css" media="all" />#}


    <!-- fontawsome CDN -->
    <script src="https://use.fontawesome.com/41ac74aae5.js"></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">

    <!-- jQuery CDN & Bootstrap js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.jpeg' %}"/>

    <title>감귤이야기</title>
</head>
