<!DOCTYPE html>
{%  load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">

    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/default.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.jpeg' %}"/>

    <title>감귤이야기</title>
</head>
<body>

<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<span class="icon icon-group"></span>
			<h1><a href="#">감귤이야기</a></h1>
			<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
		</div>
		<div id="triangle-up"></div>
	</div>
</div>

<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="{% url 'index' %}" accesskey="1" title="">홈페이지</a></li>
				<li><a href="{% url 'intro' %}" accesskey="2" title="">농장 소개</a></li>
                <li><a href="{% url 'product-list' %}" accesskey="3" title="">상품 구매</a></li>
				<li><a href="{% url 'board-list' %}" accesskey="4" title="">게시판</a></li>
				<li><a href="{% url 'order' %}" accesskey="5" title="">주문/배송조회</a></li>
				<li><a href="{% url 'faq' %}" accesskey="6" title="">FAQ</a></li>
			</ul>
		</div>
</div>

{% block content %}
{%  endblock %}

<div id="stamp" class="container">
	<div class="hexagon"><span class="icon icon-wrench"></span></div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>

</body>
</html>