{% extends 'website/base.html' %}

{% block content %}
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <div class="index-box text-center">
          <i class="fa fa-id-card-o" id="index_icon"></i>
          <h3>인사</h3>
          <br/>
          <p>인사 description</p>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12">
        <div class="index-box text-center">
          <i class="fa fa-map-o" id="index_icon"></i>
          <h3>농장 위치</h3>
          <br/>
          <p><strong>감귤이야기</strong>의 농장은 제주특별자치도 서귀포시 남원읍 신례리에 위치해 있습니다.</p>
          <div class="google-map">
            <div class='embed-container'>
              <iframe width='400px' height='300px' frameborder='0' style='border:0' src='https://www.google.com/maps/embed/v1/place?key=AIzaSyB8iqt_VWaSaSjtVNg9LtZis7UPKRjpFuE&q=place_id:ChIJh06e-6mqDTURTJtDi1h5fmo' allowfullscreen></iframe>
            </div>
          </div>
          <p>구글 맵 or 주소</p>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12">
        <div class="index-box text-center">
          <i class="fa fa-check" id="index_icon"></i>
          <h3>감귤 상세</h3>
          <br/>
          <p>품종 : 궁천 조생<br/>당도 : 13Brix/p>
        </div>
      </div>
    </div>

  </div>
{% endblock %}