{% extends 'website/base.html' %}

{% block content %}
  <p class="lead text-center">자유게시판</p>

  <div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-sm-1 text-center">글 번호</th>
          <th class="col-sm-7 text-center">제목</th>
          <th class="col-sm-1 text-center">글쓴이</th>
          <th class="col-sm-2 text-center">날짜</th>
          <th class="col-sm-1 text-center">조회수</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in board_obj_list %}
        <tr>
          <td class="text-center">{{ obj.id }}</td>
          <td class="text-left"><a href="{% url 'board-detail' pk=obj.id %}">{{ obj.title }}</a></td>
          <td class="text-center">{{ obj.writer }}</td>
          <td class="text-center">{{ obj.created_date|date }}</td>
          <td class="text-center">{{ obj.hit }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class=" col-sm-offset-5 col-sm-7">
    {% if is_paginated %}
      <ul class="pagination">
        <li>
          {% if page_obj.has_previous %}
            <a href="{% url 'board-list' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
          {% endif %}
        </li>
        {% for i in page_obj.paginator.page_range %}
          <li {% if page_obj.number == i %} class="active"{% endif %}>
            <a href="{% url 'board-list' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
          </li>
        {% endfor %}
        <li>
          {% if page_obj.has_next %}
            <a href="{% url 'board-list' %}?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
          {% endif %}
        </li>
      </ul>
    {% endif %}
    </div>

  <div class="pull-right">
    <button class="btn btn-default"><a href="{% url 'board-new'%}" role="button">글쓰기</a></button>
  </div>
  </div>

{% endblock %}
