div .navbar-brand{
    padding-top: 7px;
}

header{
    background-color: #FFC000;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
}

header i{
    color: white;
}

header h1{
    color: white;
}

.navbar-inverse .navbar-text{
    font-weight: normal;
    color: #FFC000;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
