
#small_text{
    font-size: small;
    font-weight: lighter;
    color: grey;
}

#navbar_color{
    background-color: #29a329;
}

#text_white{
    color: white;
}

#padding_bottom{
    padding-bottom: 15px;
}

#index_icon{
    font-size:50px;
}

.embed-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 50px;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.product-box{
    text-align: center;
    padding-bottom: 50px;
}

.panel-heading [data-toggle="collapse"]:after {
    /*font-family: 'Glyphicons Halflings';*/
    /*content: "e072"; !* "play" icon *!*/
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

div .navbar-brand{
    padding-top: 7px;
}

header{
    /*background-color: #FFC000;*/
    background-color: #ff9900;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
}

footer{
    background-color: #229922;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 0;
    padding-left: 0;
}

header i{
    color: white;
}

header h1{
    color: white;
}

.navbar-inverse .navbar-text{
    font-weight: normal;
    color: #FFC000;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Custom Nav bar */
.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #33aa33;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}

/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu  {
  background-color: #33aa33;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  {
  color: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  {
  color: #33aa33;
}
