{% extends 'website/base.html' %}
{% load website_tags %}

{% block content %}

  <div class="container-fluid">
    <p class="lead text-center">상품 목록 </p>

    {% for product in product_obj_list %}
      {% if forloop.counter|divisibleby:3 or forloop.counter == 1 %}
        <div class="row">
      {% endif %}

        <div class="col-sm-4">
          <div class="product-box">
            <a href="{% url 'product-detail' pk=product.id %}"><img src="{{ product.image.url }}" height="150" width="150"></a>
            <h3>{{ product.title }}</h3>
            <p>₩ {{ product.price|comma_separator }}원</p>
            <p>{{ product.description }}</p>
          </div>
        </div>

      {% if forloop.counter|divisibleby:3 or forloop.last%}
        </div>
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}