{% extends "website/base.html" %}

{% block content %}

<div class="container-fluid">

    <div class="container-fluid" id="padding_bottom">
      <div class="col-sm-offset-4 col-sm-8">
      {% if form.errors %}
        <mark>ID혹은 비밀번호가 일치하지 않습니다.</mark>
      {% endif %}
      </div>
    </div>

    <form method="post" action="{% url 'login' %}" class="form-horizontal">
    {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}" class="col-sm-4 control-label">아이디 : </label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="username" maxlength="150" autofocus required id="id_username" placeholder="ID를 입력해주세요.">
        </div>
      </div>

      <div class="form-group">
        <label for="{{ form.password.id_for_label }}" class="col-sm-4 control-label">패스워드 : </label>
        <div class="col-sm-4">
          <input type="password" class="form-control" name="password" required id="id_password" placeholder="비밀번호를 입력해주세요.">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-success">로그인</button>
          <button type="button" class="btn btn-default"><a href="{% url 'register' %}" role="button">회원가입</a></button>
        </div>
      </div>
    </form>


</div>

{% endblock %}